<template>
  <div class="selections">
    <h4>Shopping list</h4>
    <ul ref="start">
      <li v-for="item in list"
      v-bind:todo="item"
      v-bind:key="item.id">
        List Item {{item.id}}: {{ item.text }}
      </li>
    </ul>
    <input
      v-model="input"
      @keyup.enter="addToList"
      type="text"
      placeholder="Add to the list"
      ref="mainInput">
    <button @click="addToList">Add to list</button>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  computed: {
    // map the state from the given namespace
    ...mapGetters({
      list: 'list',
    }),
    input: {
      get() {
        return this.$store.getters.input;
      },
      set(value) {
        this.$store.dispatch('updateInput', value);
      },
    },
  },
  methods: {
    // map actions from the given namespace
    ...mapActions({
      addToList: 'addToList',
    }),
  },
};
</script>

<style scoped>
h4 {
  color: black;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 1vh 0px;
  text-align: left;
}
</style>
