<template>
<div class="login-background">
    <b-container>
      <b-row>
        <b-col
          cols="6"
          offset="3">
          <b-form
            class="login-form">
            <cgInput id="credentialInput"
                          class="login-input"
                          type="text"
                          required
                          ref="username"
                          :value="auth.username"
                          @update="updateUsername"
                          placeholder="Username">
            </cgInput>
            <cgInput id="credentialInput"
                          class="login-input"
                          type="password"
                          required
                          ref="password"
                          :value="auth.password"
                          @update="updatePassword"
                          placeholder="Password">
            </cgInput>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
// import cgInput from '@/components/input';

export default {
  name: 'login',
  components: {
    cgInput: () => import('@/components/input'),
  },
  computed: mapGetters({
    auth: 'auth',
  }),
  methods: {
    updateUsername(username) {
      this.$store.dispatch('updateAuth', {
        username,
        password: this.$refs.password.value,
      });
    },
    updatePassword(password) {
      this.$store.dispatch('updateAuth', {
        username: this.$refs.username.value,
        password,
      });
    },
  },
};
</script>

<style scoped>
.login-background{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-image:url('../assets/veg_2.jpg');
  background-position: 50%;
  background-size: cover;
}
.login-form{
  margin-top:15vh;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding:10px;
  box-shadow: 0.1vh 0.1vh 10px rgba(0,0,0,0.5);
}

.login-input{
  margin-bottom:2vh;
}
</style>
