<template>
  <div>
    Home
    <div>
      Items: {{items}}
    </div>
    <router-link to="home">home</router-link>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import commonModule from '@/store/modules/success/index';

const name = 'success';
export default {
  created() {
    const store = this.$store;
    // register a new module only if doesn't exist
    if (!(store && store.state && store.state[name])) {
      store.registerModule(name, commonModule);
      console.log(`register module: ${name}`);
    } else {
      // re-use the already existing module
      console.log(`reusing module: ${name}`);
    }
  },
  computed: {
  // map the state from the given namespace
    ...mapState(name, {
      items: state => state.items,
    }),
  },
  methods: {
    // map actions from the given namespace
    ...mapActions(name, ['generate']),
  },
  mounted() {
    this.generate();
  },
};
</script>
