<template>
<div>
  <input
    ref = "example"
    class="cg__input"
    type="text"
    :value="value"
    @change="inputUpdate"
  >
</div>
</template>

<script>
export default {
  props: ['value'],
  methods: {
    inputUpdate() {
      this.$emit('update', this.$refs.example.value);
    },
  },
};
</script>

<style scoped>
/* Default States */
.cg__input_title {
  color:#747984;
}

.cg__input {
  outline: none;
  border-radius: 3pt 3pt 3pt 3pt;
  padding: 10px;
  background-color: #ffffff;
  border: solid 2px #dcdfe2;
  transition-duration: 0.2s;
  width: 100%;
  transition-property: border;
  box-sizing: border-box;
  height: 5vh;
}

.cg__input:hover {
  border-color: #CBCBCB;
}

.cg__input:focus {
  border-color: #f09442;
}

.cg__input.error:focus {
  border-color: #f09442;
}


/*
  NOTE - From this point on its cg__ x for y
  cg__icon_input is a icon for an input
  cg__input_icon is a input for an icon
*/

.cg__icon_input {
  outline: none;
  border-radius: 0 3pt 3pt 0;
  padding: 10px 0;
  background-color: #ffffff;
  border: solid 2px #dcdfe2;
  border-left: none;
  transition-duration: 0.2s;
  width: 15%;
  transition-property: border;
  float: right;
  box-sizing: border-box;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cg__icon_input.cg__icon_input_button {
  cursor: pointer;
}

.cg__icon_input.cg__icon_input_text {
  cursor: text;
}

.cg__input.cg__input_icon {
  border-radius: 3pt 0 0 3pt;
  border-right: none;
  float: left;
  width: 85%;
  padding: 10px 0px 10px 10px;
}

.cg__input.cg__input_icon:hover~.cg__icon_input {
  border-color: #cecece;
}

.cg__input.cg__input_icon:focus~.cg__icon_input {
  border-color: #f09442;
}


/* ### Error States ### */

.cg__input.error {
  border-color: #cc3333;
}

.cg__input.error:hover {
  border-color: #D65B5B;
}

.cg__icon_input.error {
  border-color: #cc3333;
}

.cg__input.cg__input_icon.error:hover~.cg__icon_input {
  border-color: #D65B5B;
}

.cg__input.cg__input_icon.error:focus,
.cg__input.cg__input_icon.error:focus~.cg__icon_input {
  border-color: #f09442;
}


/* ### Success States ### */

.cg__input.success {
  border-color: #3e72d0;
}

.cg__input.success:hover {
  border-color: #648EDA;
}

.cg__icon_input.success {
  border-color: #3e72d0;
}

.cg__input.cg__input_icon.success:hover~.cg__icon_input {
  border-color: #648EDA;
}

.cg__input.cg__input_icon.success:focus,
.cg__input.cg__input_icon.success:focus~.cg__icon_input {
  border-color: #f09442;
}
</style>
